	.container{
    color: red;
    background-color: black;
    border-radius: 10px;
    border: 2px solid red;
    padding: 3px;
    width:1000px;
    margin-top: 5px;
    }

    .postsbackground {
        margin-top: 10px;
        padding: 15px;
        background-color: white;
        box-shadow: 0 0 10px 1px darkgray;
        border-radius: 2px;
        width: 1030px;
        margin: 0 auto;
    }

    .replycontainer{
    color: black;
    background-color: gray;
    border-radius: 10px;
    border: 2px solid black;
    width: 1140px;
    margin: 0 auto;
    }
    .info{
    color: white;
    font-family: Helvetica;
    }
    .replyinfo{
    color: white;
    font-family: Helvetica;
    }
    .user{
    color: white;
    font-family: Helvetica;
    }
    .replyuser{
    color: white;
    font-family: Helvetica;
    }
    .text{
    word-wrap: break-word;
   	width: 100%;
    }
    .bubble{
    position: relative;
    background-color: #aeaaa2;
    padding: 20px;
    border-radius: 5px;
    margin-left: 40px;
    border: 1px solid black;
    }
    .bubble::after{
    content: "";
    display: block;
    position: absolute;
    left:-19px;
    top:14px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 20px solid #aeaaa2;
    }
    
    .bubble::before{
    content: "";
    display: block;
    position: absolute;
    left:-20px;
    top:15px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 20px solid black;
    }
    
  

.tag {
  background: #767676;
  border-radius: 0 3px 3px 0;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  text-transform: uppercase;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: black;
  border-bottom: 14px solid transparent;
  border-right: 10px solid #767676;
  border-top: 14px solid transparent;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}

.tag:hover {
  background-color: #0080ff;
  color: white;
}

.tag:hover::after {
   border-right-color: #0080ff; 
}

<!--viewpost styles-->

    .background{
        height: 100%;
        position: relative;
        margin: auto;
    }

    .postcontainer{
        margin: auto;
        width: 800px;
        background-color: black;
        color: red;
        text-align: left;
        padding-bottom: 25px;
    }

    .commentinput{
        position: relative;
        margin: auto;
        width: 600px;
        background-color: gray;
        padding: 20px;
        border-radius: 6px;
        border: 1px solid white;
        top: 15px;
    }

    .textarea{
        background-color: black;
        color: white;
        width: 100%;
        height: 150px;
        border-radius: 6px;
        border: 1px solid white;
    }

    .commentreplybubble{
        position: relative;
        margin: auto;
        width: 800px;
        background-color: #aeaaa2;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid black;
    }
    .commentreplybubble:after{
        content: "";
        position: absolute;
        left:-19px;
        top:14px;
        border-top: 20px solid transparent;
        border-bottom: 0px solid transparent;
        border-right: 20px solid #aeaaa2;
    }

    .commentreplybubble:before{
        content: "";
        position: absolute;
        left:-20px;
        top:15px;
        border-top: 20px solid transparent;
        border-bottom: 0px solid transparent;
        border-right: 20px solid black;
    }

    .dropdownreply {
        position: relative;
        display: inline-block;
    }

    .dropdownreply-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdownreply-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdownreply-content a:hover {background-color: #ddd;}

    .dropdownreply:hover .dropdownreply-content {display: block;}

    .coverimage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 750px;
    }

    .divider {
        border-top: 3px solid #ddd;
        border-radius: 5px;
        margin: 0 auto;
        width: 100%;
        padding: 5px;
    }

    .nav2 {
        width: 800px;
        list-style-type: none;
        margin: 10px auto;
        padding: 0;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
    }

    .nav2 li {
        float: left;
    }

    .nav2 li a {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .nav2 li a:hover {
        background-color: #ddd;
    }





    <!-- navigation styles -->

    .main{
        width: 100%;
        height: 100vh;

    }

    nav{
        width: 100%;
        height: 81px;
        background-color: #333;
        line-height: 80px;
    }
    nav ul{
        float: right;
        list-style: none;
    }

    nav ul li{
        list-style-type: none;
        display: inline-block;
        transition: 0.8s all;
        float: left;
        width: 200px;
        text-align: center;
        background-color: #333;
    }

    nav ul li ul {
        position: absolute;
        margin: 0px;
        padding: 0px;
        z-index: 1;
    }

    nav ul li:hover{
        background-color: #f39d1a;
    }

    nav ul li:hover ul li {
        display: block;
    }

    nav ul li ul li {
        display: none;
        float: none;
    }

    nav ul li a{
        font-size: 20px;
        font-family: Helvetica;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        padding: 30px;
    }




<!-- dropdown styles -->

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 0px;
        line-height: 10px;
    }

    .show {display: block;}


    .dropbtn:after {
        content: "\25BC";
    }

    .dropbtn[data-toggle="on"]:after {
        content: "\25B2";
    }


    .stardefault {
        color: gray;
    }

    .starafter {
        color: gold;
    }

    .centered {
        text-align: center;
        font-size: 20px;
    }

    .paginationcenter {
        text-align: center;
    }

    .paginationposition {
        display: inline-block;
    }

    .paginationposition a {
        float: left;
        font-size: 20px;
        padding: 8px 16px;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0;
    }

    .paginationposition a.active {
        background-color: dodgerblue;
        color: white;
        border: 1px solid #ddd;
    }

    .paginationposition a:hover:not(.active) {
        background-color: #ddd;
    }

    .paginationfirst {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .paginationlast {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .linkbar {
        height: 400px;
        width: 250px;
        background-color: #DAE8F2;
        border: 2px solid #E0E0E0;
        margin: 5px 2px 5px 2px;
        border-radius: 5px;
        position: absolute;
    }

    .link {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 22.5px;
        margin-bottom: 22.5px;

        padding: 5px;
        font-size: 100%;
        font-weight: normal;
        text-shadow: 1px 1px 2px #222;
        background-color: #25A8E0;
        box-shadow: 1px 1px 3px #777777;
        position: relative;
        text-align: center;
        height: 40px;
    }

    .linktext {
        color: white;
    }

    .thumbnail {
        background-color: white;
        position: absolute;
        height: 55px;
        width: 55px;
        top: -7.5px;
        left: 10px;
        border-radius: 5px;
        border: solid 2px black;
    }

    .link:hover .thumbnail {
        box-shadow: 0 0 10px 5px rgba(0, 140, 186, 0.5);
    }

    .link:hover {
        box-shadow: 0 0 10px 5px rgba(0, 140, 186, 0.5);
    }

    .searchinput {
        width: 250px;
        font-size: 16px;
        padding: 10px;
        transition: 1.5s;
        height: 50px;
        float: left;
        margin: 5px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid gray;
    }
    .searchinput:focus {
        width: 500px;
        border: 1px solid #0060df;
        box-shadow: 0 0 0 1px #0060df, 0 0 0 3px lightsteelblue;
    }

    .search {
        float: right;
        position: relative;
    }

    .searchbtn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 16px;
        padding: 10px;
        font-weight: bold;
        height: 48px;
        width: 90px;
        margin-top: 6px;
        margin-right: 6px;
        margin-bottom: 6px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .sortcontainer {
        right: 0;
        margin-right: 20px;
        margin-left: 20px;
        width: 210px;
        height: 300px;
        background-color: darkgray;
        box-shadow: 0 0 10px 1px darkgray;
        border-radius: 2px;
        position: absolute;
    }

    .sortbtn {
        background-color: grey;
        border-radius: 3px;
        border: 1px solid black;
        color: black;
        width: 175px;
        padding: 5px;
        text-align: center;
        display: flex;
        font-size: 100%;
        margin: 10px auto;
        align-items: center;
        justify-content: center;
    }

    .sortbtn:hover {
        box-shadow: 0 0 10px 1px black;
    }

    .sortselection {
        width: 175px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 0 auto;
        padding: 3px;
    }

