<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>tag test</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{../../css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<h1>Add tag</h1>

	<p>Tags attached to this post</p>
	<span th:each="tag,iterStat : ${post.tags}">
	<span th:text="${tag.name}"/>
	</span>

	<p>count of tags attached to this post</p>
	<p th:text="${#lists.size(post.tags)}"></p>

	<form th:action="@{/{categoryid}/post/{id}/tags(categoryid=${category.categoryid},id=${post.id})}" method="get" enctype="multipart/form-data" >
	
			
			<div class="col-md-6">
			<select class="form-control" name="tagId">
				<option th:each="tag : ${tags}" 
					th:value="${tag.tagid}" 
					th:text="${tag.name}">Tag</option>
			</select>
			<div style="clear: both; display: block; height: 5px;"></div>
			<input type="submit" name="action" class="btn btn-primary" value="Save tag"></input>
			<input type="submit" name="action" class="btn btn-danger" value="Remove tag"></input>
			</form>
			
			<br>
			<div style="clear: both; display: block; height: 5px;"></div>
			<a class="btn btn-success" th:href="@{/category/view/{categoryid}/page/1(categoryid=${category.categoryid})}">finish</a>
			</div>
			</div>
</div>
</body>
</html>