<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Edit post details</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../../css/bootstrap.min.css}" />
</head>
<body>
<h1>Edit post details</h1>
<div>
	<form th:object="${post}" th:action="@{/category/{id}/posts(id=${category.categoryid})}" action="#" method="post" enctype="multipart/form-data">
		<input type="hidden" th:field="*{id}"/>
		<label for="title">Title</label>
		<input type="text" id="title" th:field="*{title}" />
		<div style="clear: both; display: block; height: 10px;"></div>
		<label for="description">Description</label>
		<input type="text" id="description" th:field="*{description}" />
		<div style="clear: both; display: block; height: 10px;"></div>
		<label for="content">Content</label>
		<textarea type="text" id="content" th:field="*{content}" />
		<div style="clear: both; display: block; height: 10px;"></div>
		<label for="statuslist">Choose status:</label>
		<select id="statuslist" th:field="*{poststatus}" class="form-control-sm col-sm-2">
		<option th:each="poststatus: ${poststatuses}" th:value="${poststatus.poststatusid}" th:text="${poststatus.status}"></option>
		</select>
		<div style="clear: both; display: block; height: 10px;"></div>
		<input type="file" name="file" />
		<input type="submit" value="Save"></input>
	</form>
</div>
</body>
</html>