<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Postlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css"rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="/css/Customstyles.css" th:href="@{/css/Customstyles.css}" />
</head>
<body>
	<h1>Posts</h1>
	<h1 th:text="${count}"></h1>

	<form th:action="@{search}" action="#" method="get" class="form-inline">
		<div class="form-group mb-2">
			<input type="text" class="form-control" name="searchby" placeholder="Search by title or description" />
			<input type="submit" value="Search"  class="btn btn-primary"/>
		</div>
	</form>

	<a class="btn btn-success btn-sm" href="/addpost">Add Post</a> 
    <a class="btn btn-primary btn-sm" href="/addtag">Add new tags</a>

    	<tr th:each = "post : ${posts}">
    		<div class="container">
    		<div class="info">
    		<th th:text="${post.time}"></th>
    		<th th:text="${post.date}"></th>
    		
    		
    		<a class="btn btn-danger btn-sm" th:href="@{/delete/{id}(id=${post.id})}">Delete</a>
 			<a class="btn btn-primary btn-sm" th:href="@{/postlist/view/{id}(id=${post.id})}">Post details</a>
 			<a class="btn btn-primary btn-sm" th:href="@{/addPostTag/{id}(id=${post.id})}">Add/remove tags</a>
    		</div>

    		<div>
				<p class="text" th:text="${post.title}"></p>
				<p class="text" th:text="${post.description}"></p>
				<p class="text" th:text="${post.content}"></p>
    			<p class="text" th:text="${post.imagename}"></p>
			</div>
    		
    		<!-- tämä on kesken -->
    		<!-- jos kuvan nimi ei ole null näytä kuva vaihtoehtoisesti kirjoita alt viesti -->
    		
    		<span th:if="${post.imagename != null}">
    		<img width="150" th:src="@{${'/temp/' + post.imagename}}" alt="file is not image file"/>
    		</span>
    		<br>
    		<div style="clear: both; display: block; height: 5px;"></div>
    		
    		<span th:each="tag,iterStat : ${post.tags}">
    		<a class="tag" th:href="@{/tag/{id}(id=${tag.tagid})}">
			<span th:text="${tag.name}"/>
			</a>
			</span>
			
 			</div>
 			<div style="clear: both; display: block; height: 5px;"></div>
 			
    	</tr>   	
</body>
</html>