<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Developer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />	
</head>
<body>
	<h1>Add Comment to post</h1>
	<form
	class="form-control"
	name="commentId"
	th:object="${comment}"
	th:action="@{/post/{id}/comments(id=${post.id})}"
	method="get" 
	enctype="multipart/form-data" >

	<textarea id="komment" th:field="*{text}" rows="5" cols="65"></textarea>
	<input type="submit" name="action" class="btn btn-primary" value="Save"></input>
	</form>

</body>
</html>