<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="/css/all.css" th:href="@{/css/all.css}" />
	<link type="text/css" rel="stylesheet" href="/css/Customstyles.css" th:href="@{/css/Customstyles.css}" />

<title>postdetails</title>
</head>
<body class="background">

<div id="main">
	<nav>
		<ul>
			<li><a th:href="@{/}"><i class="fa fa-home"></i> Kotisivu</a></li>
			<li><a th:href="@{/postlist}"><i class="fas fa-pen"></i> Postlist</a></li>
			<li>
				<div class="dropdown">
					<a href="#" onclick="myFunction()" class="dropbtn" data-toggle="off"><i class="fa fa-search"></i> Search</a>
					<div id="myDropdown" class="dropdown-content" data-state="closed">
						<form th:action="@{/page/1/search}" action="#" method="get" class="form-inline">
							<div class="form-group mb-2">
								<input type="text" class="form-control" name="searchby" placeholder="Search by title or description" />
								<input type="submit" value="Search"  class="btn btn-primary"/>
							</div>
						</form>
					</div>
				</div>
			</li>
		</ul>
	</nav>
</div>

<script type="text/javascript" th:src="@{/js/actions.js}"></script>

			<div class="postcontainer">
			<h1>Post view</h1>
			<h1 th:text="${post.id}"></h1>
			<h1 th:text="${post.title}"></h1>

			<span th:if="${post.imagename != null}">
    		<img class="coverimage" th:src="@{${'/temp/' + post.imagename}}" alt="file is not image file"/>
    		</span>

			</div>
			
			<form class="commentinput" th:object="${comment}" th:action="@{/post/{id}/comments(id=${post.id})}" action="#" method="get">
			<textarea placeholder="Write comment here" class="textarea" id="komment" th:field="*{text}" rows="2" cols="65"></textarea>
			<div style="clear: both; display: block; height: 5px;"></div>
			<button class="btn btn-success btn-sm" type="submit">Add comment</button>
			<div style="clear: both; display: block; height: 5px;"></div>
			</form>
			<div style="clear: both; display: block; height: 5px;"></div>

			<h1 id="commentsection">Comment section</h1>
			<span th:each="comment,iterStat : ${post.comments}">
			<div class="commentreplybubble">

			<div class="info">
				<i class="fas fa-clock">
				<th th:text="${comment.creationdatetime.month}+' '+${comment.creationdatetime.dayOfMonth}+' '+${comment.creationdatetime.year}"></th>
				</i>


			<a class="btn btn-danger btn-sm" th:href="@{/post/{postid}/deletecomment/{commentid}#commentsection(postid=${post.id}, commentid=${comment.commentid})}" method="get">
			<i class="fas fa-trash"> Comment Delete</i>
			</a>


 			<div class="dropdownreply">
  			<button class="btn btn-success btn-sm">Add reply</button>
  			<div class="dropdownreply-content">
  			<form name="replyId" th:object="${reply}" th:action="@{/{postid}/comment/{id}/replies#commentsection(id=${comment.commentid}, postid=${post.id})}" method="get">
			<textarea id="reply" th:field="*{text}" rows="3" cols="65"></textarea>
			<div style="clear: both; display: block; height: 5px;"></div>
			<button class="btn btn-primary btn-sm" type="submit">Post reply</button>
			<div style="clear: both; display: block; height: 5px;"></div>
			</form>
			</div>
  			</div>
  			</div>
			<p th:text="${comment.text}"/></p>
			</div>
			<div style="clear: both; display: block; height: 5px;"></div>
			
			
			
			
			
			<span th:each="reply,iterStat : ${comment.replies}">
			<div class="commentreplybubble">

				<div class="info">
				<i class="fas fa-clock">
				<th th:text="${reply.creationdatetime.month}+' '+${reply.creationdatetime.dayOfMonth}+' '+${reply.creationdatetime.year}"></th>
				</i>

				<a class="btn btn-danger btn-sm" th:href="@{/{postid}/comment/{commentid}/deletereply/{replyid}#commentsection(postid=${post.id}, commentid=${comment.commentid}, replyid=${reply.replyid})}" method="get">
				<i class="fas fa-trash"> Reply Delete</i>
				</a>

				</div>

			<p th:text="${reply.text}"/></p>
			</div>
			<div style="clear: both; display: block; height: 5px;"></div>
			</span>
			</span>
</body>
</html>